<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>添加好友</title>
</head>
<body>

<div>
    <input type="text" name="account" placeholder="请输入账号">
    <span id="serach" style="cursor: pointer">搜索</span><br/>
</div>

<table>
    <tr>
        <th>账号</th>
        <th>昵称</th>
        <th>性别</th>
    </tr>
    <tr id="userinfo">

    </tr>
</table>

<script type="text/javascript">
    $("#serach").click(function () {
        $.ajax({
            url: "/userinfo/serachUserinfoByAccount",
            type: "post",
            data: ({
                account: $("input[name='account']").val(),
            }),
            success: function (result) {
                if (result.code == 1) {
                    var user = result.data;
                    $("#userinfo").append("<td>"+user.userAccount+"</td>" +
                        "<td>"+user.username+"</td>" +
                        "<td>"+user.sex+"</td>" +
                        "<td><a href=''>加为好友</a></td>")
                } else if (result.code == 0) {
                    alert(result.msg);
                }
            }
        })
    });
</script>

</body>
</html>