<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>展示好友</title>
</head>
<body>

<div>

</div>

<table>
    <tr id="show">
    </tr>
</table>

<a href="/addfriend">添加好友</a>

<script type="text/javascript">
    alert(1);
    $.ajax({
        url: "/userinfo/showFriends",
        type: "post",
        data: ({
            account: 1192274716,
        }),
        success: function (result) {
            for (var user in result.data){
                $("#show").append("<td>user.userAccount</td>" +
                    "<td>user.username</td>" +
                    "<td>user.sex</td>" );
            }
        }
    });
</script>

</body>
</html>