<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>展示好友</title>
</head>
<body>

<span id="account" th:text="${session.user.userAccount}"></span><br/>
<a href="/addFriendVer">验证通知</a><br/>
<span>消息通知</span>

<table id="show">
</table>

<a href="/addfriend" style="cursor: pointer">添加新好友</a>

<script type="text/javascript">
    $.ajax({
        url: "/friends/showFriends",
        type: "post",
        data: ({
            account: $("#account").text(),
        }),
        success: function (result) {
            if (result.code == 1) {
                var users = result.data;
                for (var i in users) {
                    $("#show").append("<tr><td>" + users[i].userAccount + "</td>" +
                        "<td>" + users[i].username + "</td>" +
                        "<td>" + users[i].sex + "</td>" +
                        "<td><a href='/chat?receiveAccount="+users[i].userAccount+"&receiveUsername="+users[i].username+"' onclick='chat()' style='cursor: pointer'>发消息</a></td></tr>");
                }
            }
        }
    });

    function chat() {
        alert(111)
    }
</script>

</body>
</html>