<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.serversocket.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.serversocket.entity.Message" >
    <constructor >
      <idArg column="msgId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="sendMsgUserId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="sendMsgUsername" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sendMsgUserPort" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sendMSgUserIP" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="receiveMsgUserId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="sendMsgTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    msgId, sendMsgUserId, sendMsgUsername, sendMsgUserPort, sendMSgUserIP, receiveMsgUserId, 
    sendMsgTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from message
    where msgId = #{msgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from message
    where msgId = #{msgId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.serversocket.entity.Message" >
    insert into message (msgId, sendMsgUserId, sendMsgUsername, 
      sendMsgUserPort, sendMSgUserIP, receiveMsgUserId, 
      sendMsgTime)
    values (#{msgId,jdbcType=BIGINT}, #{sendMsgUserId,jdbcType=BIGINT}, #{sendMsgUserName,jdbcType=VARCHAR},
      #{sendMsgUserPort,jdbcType=INTEGER}, #{sendMsgUserIp,jdbcType=BIGINT}, #{receiveMsgUserId,jdbcType=BIGINT},
      #{sendMsgTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.serversocket.entity.Message" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        msgId,
      </if>
      <if test="sendMsgUserId != null" >
        sendMsgUserId,
      </if>
      <if test="sendMsgUserName != null" >
        sendMsgUsername,
      </if>
      <if test="sendMsgUserPort != null" >
        sendMsgUserPort,
      </if>
      <if test="sendMsgUserIp != null" >
        sendMSgUserIP,
      </if>
      <if test="receiveMsgUserId != null" >
        receiveMsgUserId,
      </if>
      <if test="sendMsgTime != null" >
        sendMsgTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        #{msgId,jdbcType=BIGINT},
      </if>
      <if test="sendMsgUserId != null" >
        #{sendMsgUserId,jdbcType=BIGINT},
      </if>
      <if test="sendMsgUserName != null" >
        #{sendMsgUserName,jdbcType=VARCHAR},
      </if>
      <if test="sendMsgUserPort != null" >
        #{sendMsgUserPort,jdbcType=INTEGER},
      </if>
      <if test="sendMsgUserIp != null" >
        #{sendMsgUserIp,jdbcType=BIGINT},
      </if>
      <if test="receiveMsgUserId != null" >
        #{receiveMsgUserId,jdbcType=BIGINT},
      </if>
      <if test="sendMsgTime != null" >
        #{sendMsgTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.serversocket.entity.Message" >
    update message
    <set >
      <if test="sendMsgUserId != null" >
        sendMsgUserId = #{sendMsgUserId,jdbcType=BIGINT},
      </if>
      <if test="sendMsgUserName != null" >
        sendMsgUsername = #{sendMsgUserName,jdbcType=VARCHAR},
      </if>
      <if test="sendMsgUserPort != null" >
        sendMsgUserPort = #{sendMsgUserPort,jdbcType=INTEGER},
      </if>
      <if test="sendMsgUserIp != null" >
        sendMSgUserIP = #{sendMsgUserIp,jdbcType=BIGINT},
      </if>
      <if test="receiveMsgUserId != null" >
        receiveMsgUserId = #{receiveMsgUserId,jdbcType=BIGINT},
      </if>
      <if test="sendMsgTime != null" >
        sendMsgTime = #{sendMsgTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where msgId = #{msgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.serversocket.entity.Message" >
    update message
    set sendMsgUserId = #{sendMsgUserId,jdbcType=BIGINT},
      sendMsgUsername = #{sendMsgUserName,jdbcType=VARCHAR},
      sendMsgUserPort = #{sendMsgUserPort,jdbcType=INTEGER},
      sendMSgUserIP = #{sendMsgUserIp,jdbcType=BIGINT},
      receiveMsgUserId = #{receiveMsgUserId,jdbcType=BIGINT},
      sendMsgTime = #{sendMsgTime,jdbcType=TIMESTAMP}
    where msgId = #{msgId,jdbcType=BIGINT}
  </update>
</mapper>