<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serversocket.dao.UserinfoMapper">
    <insert id="insertUserinfo" parameterType="userinfo">
        insert into userinfo
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userAccount != null" >
                userAccount,
            </if>
            <if test="username != null" >
                username,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="headPhoto != null" >
                headPhoto,
            </if>
            <if test="birthday != null" >
                birthday,
            </if>
            <if test="registerTime != null" >
                registerTime,
            </if>
            <if test="modifyTime != null" >
                modifyTime,
            </if>
            <if test="tag != null" >
                tag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userAccount != null" >
                #{userAccount,jdbcType=BIGINT},
            </if>
            <if test="username != null" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=BIGINT},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="headPhoto != null" >
                #{headPhoto,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null" >
                #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="registerTime != null" >
                #{registerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tag != null" >
                #{tag,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <delete id="deleteUserinfo" parameterType="long">
        delete from userinfo where userId = #{value}
    </delete>

    <resultMap id="baseResultMap" type="userinfo">
        <id column="userId" property="userId"/>
        <result column="userAccount" property="userAccount"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="sex" property="sex"/>
        <result column="headPhoto" property="headPhoto"/>
        <result column="birthday" property="birthday"/>
        <result column="registerTime" property="registerTime"/>
        <result column="modifyTime" property="modifyTime"/>
        <result column="tag" property="tag"/>
    </resultMap>
    <sql id="Base_Column_List" >
        userId, userAccount, username, password, headPhoto, phone, sex, birthday, registerTime, modifyTime, tag
    </sql>
    
    <select id="selectAllUserinfo" resultMap="baseResultMap" resultType="list">
        select <include refid="Base_Column_List"/> from userinfo
    </select>
    <select id="selectUserinfoById" parameterType="long" resultMap="baseResultMap">
        select <include refid="Base_Column_List"/> from userinfo where userId = #{value}
    </select>

    <update id="updateUserinfo" parameterType="userinfo">
        update userinfo
        <set >
            <if test="username != null" >
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=BIGINT},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="headPhoto != null" >
                sex = #{headPhoto,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null" >
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="registerTime != null" >
                registerTime = #{registerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null" >
                modifyTime = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tag != null" >
                tag = #{tag,jdbcType=INTEGER},
            </if>
        </set>
        where userId = #{userId,jdbcType=BIGINT}
    </update>

    <!--登录-->
    <select id="checkLogin" parameterType="userinfo" resultMap="baseResultMap">
        select <include refid="Base_Column_List"/> from userinfo
        where userAccount = #{userAccount,jdbcType=BIGINT} and password = #{password,jdbcType=VARCHAR} and tag = 1
    </select>

    <!--根据用户账号搜索用户-->
    <select id="selectUserinfoByAccount" parameterType="userinfo" resultMap="baseResultMap">
        select <include refid="Base_Column_List"/> from userinfo
        where userAccount = #{account,jdbcType=BIGINT}
    </select>

    <!--根据用户账号获取用户的所有好友-->
    <select id="showFriendsByUserinfoAccount" parameterType="long" resultMap="baseResultMap">
        SELECT <include refid="Base_Column_List" />
        from userinfo where userAccount in (
            SELECT friend_account from friends where user_account = #{value}
        )
    </select>
</mapper>